location             = "fsn1"
app_server_type      = "cpx21"
database_server_type = "cpx21"
ssh_keys             = ["REPLACE_WITH_HCLOUD_SSH_KEY_NAME"]
allowed_ssh_cidrs    = ["REPLACE_WITH_OPERATOR_CIDR"]
network_ip_range     = "10.48.0.0/16"
subnet_ip_range      = "10.48.1.0/24"
app_private_ip       = "10.48.1.10"
database_private_ip  = "10.48.1.20"
